<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d452df00-d6f3-436f-962f-c9966081a9d0/resourcegroups/MyFirstAzureWebApp20220324162827ResourceGroup/providers/Microsoft.Web/sites/MyFirstAzureWebApp20220324162901</ResourceId>
    <ResourceGroup>MyFirstAzureWebApp20220324162827ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myfirstazurewebapp20220324162901.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9290931-23ee-491e-b0f3-5c76268e84e0</ProjectGuid>
    <PublishUrl>https://myfirstazurewebapp20220324162901.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MyFirstAzureWebApp20220324162901</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>